go.sum
sens/datastore/api_generator.go.obs
sens/datastore/templates/rest.tpl.obs
sens/datastore/.DS_Store
sens/datastore/generated/api/rest/main/datastore
sens/datastore/datastore
sens/datastore/generated/api/rest/main/main
sens/datastore/generated/main/main
*.test
sens/.DS_Store
sens/.DS_Store
